@charset "utf-8";
/**
 *
 *Autor: Jorge David Muffareg Junior 
 *Data: 10/09/2012
 *
 *Sistema: Construti
 *
 */

* {
	margin: 0;
	padding: 0;
}

/** Estilo Geral **/
body {
	background: #aaa;
	color: #00f;
	font-family: 'lucida grande',verdana,helvetica,arial,sans-serif;
	font-size: 90%;
	margin: 0;
	padding: 0;
}
p {
	margin: 0 0 1em 0;
}

/** Layout Geral **/
/** Corpo e Cabeçalho **/
#corpo {
	text-align: left;
	border-width: 4px;
	border-color: #008;
	border-style: solid;
}
/** Outros Layouts **/
#conteudo {
	clear: both;
	color: #0011aa;
	overflow: auto;
	margin: 0;
	padding: 0;
}
/** Página Formulários **/
#tituloform {
	height: 20px;
	text-align: center;
	font-size: 140%;
	margin: 0 auto 30px;
	padding: 0;
}
#formulariocorpo {
	width: 300px;
	margin: 0 auto;
}
#camposdescricao {
	float: left;
	width: 100px;
	margin: 0 auto 10px;
	text-align: right;
	font-size: 14px;
	padding: 0;
}
#camposlacunas {
	float: left;
	width: 200px;
	margin: 0 auto 10px;
	padding: 0;
}
#areaBotao{
	width: 100px;
	margin: 10px auto;
	padding: 0;
}
/** Mensagens JQuery **/
#sending {
	width: 200px;
	display: none;
	text-align: center;
	background-color: lightgreen;
	margin: 0 auto;
}
#sucesso {
	width: 300px;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: darkgreen;
	background-color: lightgreen;
	margin: 2px auto 0;
}
/** Classes **/
.campos{
	height: 20px;
	margin: 0 0 20px;
	padding: 0;
}
.intexto {
	height: 18px;
	margin: 0;
	padding: 0;
}
.selecionar{
	float: left;
	height: 18px;
	margin: 0;
	padding: 0;
}
.botao {
	color: #0011aa;
}
.cake-error {
	position: absolute;
	z-index: 4; 
}
.error-message {
	position: absolute;
	z-index: 4; 
}
